/* -------------------------------------------------------------------------- */
/*                               footer styles                               */
/* -------------------------------------------------------------------------- */

.footer {
  background-color: $noir;
  color: $white;

  .md-48 {
    font-size: 48px;
  }
  .footer-title {
    font-size: 1.75rem;
    font-weight: 500;
    font-family: $kaushan;
    line-height: 1.2;
  }
}
