/* -------------------------------------------------------------------------- */
/*                              Styles for header                             */
/* -------------------------------------------------------------------------- */
.header {
  background-color: $noir;
  color: $white;

  .main-logo {
    a {
      font-family: $kaushan;
      font-size: 2rem;
    }
  }
}
