/* -------------------------------------------------------------------------- */
/*                                 actu styles                                */
/* -------------------------------------------------------------------------- */
article.article {
  color: $white;
  margin-bottom: 80px;

  @media screen and (min-width: 576px) {
    &:nth-child(odd) {
      text-align: right;
    }
  }
}

.article-single {
  .article-content {
    color: $white;
  }
}
