/* -------------------------------------------------------------------------- */
/*                                 actu styles                                */
/* -------------------------------------------------------------------------- */
article.article {
  color: $white;
  margin-bottom: 80px;
  &:nth-child(even) {
    text-align: right;
  }
}

.article-single {
  .article-content {
    color: $white;
  }
}