/* -------------------------------------------------------------------------- */
/*                                index styles                                */
/* -------------------------------------------------------------------------- */

.index {
  .carousel-item {
    max-height: 800px;
    overflow: hidden;
  }

  .index-content {
    color: $white;
  }
  .main-title {
    font-family: $kaushan;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
  }
  .last-news {
    .card {
      background-color: transparent;

      .card-title,
      .card-text {
        color: $white;
      }
      .card-title {
        font-size: 1.75rem;
        font-family: $kaushan;
        font-weight: 500;
        line-height: 1.2;
      }
    }
  }
}
