/* -------------------------------------------------------------------------- */
/*                              prog page styles                              */
/* -------------------------------------------------------------------------- */

.date-fest {
  font-family: $kaushan;
  margin: 30px 0;
  color: $white;
  font-size: 30px;
  display: inline-block;
}

.tab-content {
  color: $white;
}

hr {
  border-color: rgba($grey, 0.5);
}

.title {
  font-size: 30px;
  color: $white;
  margin-bottom: 50px;
  margin-top: 50px;
}
