/* ----------------------------- Contact styles ----------------------------- */

.form-group {
    label {
        color: $white;
        font-family: $oswald;
    }
}

.contact {
    color: $white;
}